img {
    object-fit: cover;
}

.header-nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.categories {
    margin-top: 80px;
}

.category-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
}

.category-item > img {
    transform: scale(1);
    transition: transform 0.8s;
}

.category-item:hover > img {
    transform: scale(1.2);
}

.category-item > .card-body {
    position: absolute;
    top: 10px;
    left: 10px;
}

.product  {
    position: relative;
    cursor: pointer;
    overflow: hidden;
   
}

.product > img {
    height: 400px;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.8s;
}

.product:hover > img {
    transform: scale(0.93);
}

.icon-block {
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.491);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -100px;
    left: 0;
    transition: bottom 0.4s;

}

.product:hover > .card-body >  .icon-block {
    bottom: 0;
}

.icon-block > i {
    color: rgb(253, 255, 250);
    font-size: 20px;
    margin-left: 20px;
    font-weight: 700;
    cursor: pointer;
}


.modal-image-show > img {
    width: 100%;
}



